@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

:root {
    /*default dark mode*/
    --bg: #05060a;
    --surface: #1e1a1c;
    --text: #fffaf1;
    --accent: #d6ff4b;
}

.light {
    /*light mode*/
    --bg: #fff1de;
    --surface: #4e4449;
    --text: #05060a;
    --accent: #4557ff;
}

body {
	/*colors/ui*/
	background-color: var(--bg);
	color: var(--text);

	/*page display rules*/
	margin: 0;
	padding-top: 100px;
	display: flex;
	align-items: center;

}
